# pip install -r requirements.txt

# base torchreid ----------------------------------------
numpy
Cython
h5py
Pillow
six
scipy
opencv-python-headless
matplotlib
tb-nightly
future
yacs
gdown

# added for bpbreid
albumentations
pandas
tabulate
deepdiff
wandb
monai
torchmetrics==0.10.3
# torchmetrics 0.10.3 imports pkg_resources, which setuptools 81 removed
setuptools<81
